<%- include('header.ejs') -%>
    <div class="container mt-4 text-center">
        <h1>Quản lý người dùng</h1>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12 border p-4">
                        <h4>Xoá người dùng</h4>
                        <div class="form-group">
                            <label for="deleteEmail">Email:</label>
                            <input type="email" class="form-control" name="deleteEmail" id="deleteEmail" placeholder="Nhập email">
                            <button id="delete-btn" class="btn btn-danger text-white mt-3 d-block w-100">Xoá</button>
                        </div>
                        <p id="deleteMessage"></p>
                    </div>
                    <div class="col-12 border p-4 mt-4">
                        <h4>Cập nhật người dùng</h4>
                        <div class="form-group">
                            <label for="updateEmail">Email:</label>
                            <input type="email" class="form-control" name="updateEmail" id="updateEmail" placeholder="Nhập email">
                            <label for="updatePassword">Password:</label>
                            <input type="password" class="form-control" name="updatePassword" id="updatePassword" placeholder="Nhập password">
                            <button id="update-btn"  class="btn btn-success text-white mt-3 d-block w-100">Cập nhật</button>     
                        </div>
                        <p id="updateMessage"></p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <table class="table border">
                    <thead class="thead-dark">
                        <tr>
                            <th>Email</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(listUser) { %>
                            <% for(let i = 0; i < listUser.length; i++) { %>
                            <tr>
                                <td><%= listUser[i].email %></td>
                                <td><%= listUser[i].password %></td>
                            </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>      
        </div>
    </div>
<script src="/manager.js"></script>
<%- include('footer.ejs') -%>