<%- include('header.ejs') -%>

        <h1 class="text-center">Sign In</h1>
        <div class="container">
            <form method="POST" action="/signin">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" id="inputEmail3">
                    </div>
                    <span class="col-sm-2"></span>
                    <p id="message" class="text-danger col-sm-10">
                        <%= errorMessage %>
                    </p>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="inputPassword3">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" id="signin-btn">Sign In</button>
                    </div>
                </div>
            </form>
        </div>

<%- include ('footer.ejs') -%>